<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mweser.affordabilitytracker">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_monopoly_man_round"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_monopoly_man_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.account.AccountActivity"
                android:label="@string/title_activity_bank_account_management"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.expense.ExpensesActivity"
                android:label="@string/title_activity_expenses"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.thresholds.ThresholdsActivity"
                android:label="@string/title_activity_thresholds"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.wishlist.WishlistActivity"
                android:label="@string/title_activity_wishlist"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.projection.ProjectionActivity"
                android:label="@string/title_activity_projection"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.projection.ProjectionListActivity"
                android:label="@string/title_activity_projection_list"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.wishlist_schedule.WishlistScheduleActivity"
                android:label="@string/title_activity_wishlist_schedule"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.points.CreditPointsActivity"
                android:label="@string/title_activity_credit_points"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.settings.SettingsActivity"
                android:label="@string/title_activity_settings"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.create_account.AddAccountActivity"
                android:label="@string/title_activity_create_bank_account"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.create_expense.AddExpenseActivity"
                android:label="@string/title_activity_create_expense_event"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.create_wishlist_item.AddWishlistItemActivity"
                android:label="@string/title_activity_create_wishlist_item"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>